@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 사용자 정의 CSS 변수 */
:root {
  --primary-color: #463ea3;
}

/* 사용자 정의 유틸리티 */
@layer utilities {
  .text-header {
    @apply text-black font-bold text-2xl;
  }
  .text-title {
    @apply text-4xl font-bold;
  }
  .text-primary {
    color: var(--primary-color); /* 사용자 정의 색상 */
  }
  .text-medium {
    @apply text-xl;
  }
  .bg-primary {
    background-color: var(--primary-color);
  }
}
